
body {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}
#TANK {
    text-align: center;
    background-color: #5e17eb;
    padding-top: 0.4%;
}
a {
    text-decoration: none;
}

#TANK img {
    height : 15vh;
}


