
#TANK {
    text-align: center;
    color: red;
    background-color: antiquewhite;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 15px;
    border: 1px solid deeppink;
}

td:first-child {
    font-weight: bold;


}

tr:nth-child(even) {
    background-color: pink;
}

tr:first-child {
    background-color: lightpink;
}
