#menu {
    text-align: center;
    background: brown;
}

#menu a {
    text-decoration: none;
    color: #000000;
    padding-left:5.5% ;
    padding-right: 5.5%;
    background: greenyellow;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 2vw;
    border: 2px solid black;
}

