.tablepanier {
    padding: 2vh;

    margin-left: 20vw;

}

.tablepanier form {
    margin-left: -71vw;
    text-align: center;
    justify-content: center;
}

.image {
    height: 20vh;
    text-align: center;
    justify-content: center;
}
